@import 'theme/global.css';
@import 'theme/colors.css';

.component {
  
}
.header {
  background-color: var(--color-bg-dark);
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  height: 56px;
  line-height: 56px;
  padding: 0 16px;
  position: relative;
  z-index: 200;
}
.nav-container {
  color: var(--color-text-light);
  font-weight: var(--font-weight-bold);
  height: 78px;
  position: relative;
  text-transform: uppercase; 
}
.nav-floating {
  background-color: var(--color-bg-light);
  box-shadow: 0 0 5px #777;
  display: flex;
  font-size: 14px;
  height: 42px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}
.nav-floating span {
  position: relative;
  top: 2px;
}
.nav-floating-docked {
  position: fixed;
}
.nav-floating > a {
  border-bottom: 2px solid transparent;
  color: inherit;
  display: block;
  flex-basis: 80px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}
.nav-tab-active {
  border-bottom: 2px solid var(--color-bg-dark) !important;
  color: var(--color-bg-dark) !important;
}
.nav-filter {
  background-color: rgba(0, 0, 0, 0.06275);
  border-bottom: 1px solid rgba(0, 0, 0, 0.13333);
  font-size: 12px;
  height: 35px;
  line-height: 35px;
  padding: 42px 13px 0 13px;
}
.nav-filter span {
  position: relative;
  top: 1px;
}