@import 'theme/colors.css';
@import 'theme/layout.css';

.component {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06275);
  padding: 10px 0 9px 0;
}
.component:last-child {
  border-bottom: none;
}
.details {
  margin: 0 16px;
}
.details:after {
  content: '';
  display: table;
  clear: both;
}
@media (min-width: 700px) {
  .details:after {
    clear: none;
  }
}
.source {
  color: var(--color-text-light);
  font-size: 12px;
}
.title {
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  line-height: 17px;
  margin-top: 9px;
}
.thumbnail {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  float: right;
  height: 62px;
  margin-left: 13px;
  width: 62px;
}
@media (min-width: 700px) {
  .thumbnail {
    float: left;
    margin: 0 13px 0 0;
  }
}