@import 'theme/colors.css';
@import 'theme/layout.css';

.component {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06275);
  padding: 10px 0 9px 0;
}
.component:last-child {
  border-bottom: none;
}
.details {
  align-items: flex-start;
  display: flex;
  margin: 0 16px;
}
.heading {
  flex: 1;
}
.source {
  color: var(--color-text-light);
  font-size: 12px;
}
.title {
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  line-height: 17px;
  margin-top: 9px;
}
.thumbnail {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  flex-basis: 62px;
  height: 62px;
  margin-left: 13px;
}