@import 'theme/colors.css';

.component {
  display: flex;
  height: 16px;
  margin-top: 12px;
}
@media (min-width: 700px) {
  .component {
    margin-top: 8px;
    width: 360px;
  }
}
.button {
  background-repeat: no-repeat;
  border-right: 1px solid rgba(0, 0, 0, 0.04183);
  color: var(--color-text-light);
  display: flex;
  flex: 1;
  font-size: 11px;
  justify-content: center;
  line-height: 16px;
}
.button:last-child {
  border-right: none;
}
.button span {
  position: relative;
  top: 1px;
}
.icon {
  background-position: top center;
  background-repeat: no-repeat;
}
.points {
  flex: 1;
  text-align: center;
}
a.comment, a.comment-count {
  color: inherit;
  display: block;
  text-decoration: none;
}
a.comment-count:hover {
  text-decoration: underline;
}
.comment {
  composes: icon;
  background-image: url('./comment.png');
  background-size: 16px 16px;
  flex-basis: 16px;
}
.comment-no-thread {
  visibility: hidden;
}
.comment-count {
  flex-basis: 27px;
  margin-left: 10px;
}
.share {
  composes: icon;
  background-image: url('./share.png');
  background-size: 13px 16px;
  flex-basis: 12px;
}
.share-label {
  flex-basis: 36px;
  margin-left: 11px;
}