@import 'theme/colors.css';

.component {
  display: flex;
  height: 16px;
  margin-top: 12px;
}
.button {
  background-repeat: no-repeat;
  border-right: 1px solid rgba(0, 0, 0, 0.04183);
  color: var(--color-text-light);
  display: flex;
  flex: 1;
  font-size: 11px;
  justify-content: center;
  line-height: 16px;
  text-align: center;
}
.button:last-child {
  border-right: none;
}
.button span {
  position: relative;
  top: 1px;
}
.icon {
  background-position: top center;
  background-repeat: no-repeat;
}
.vote-count {
  flex-basis: 57px;
}
.vote-up, .vote-down {
  composes: icon;
  background-size: 12px 16px;
  flex-basis: 11px;
}
.vote-up {
  background-image: url('./vote-up.png');
}
.vote-down {
  background-image: url('./vote-down.png');
}
.comment {
  composes: icon;
  background-image: url('./comment.png');
  background-size: 16px 16px;
  flex-basis: 16px;
}
.comment-count {
  flex-basis: 37px;
}
.share {
  composes: icon;
  background-image: url('./share.png');
  background-size: 13px 16px;
  flex-basis: 12px;
}
.share-label {
  flex-basis: 47px;
}